[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.align_center_error {
  text-align: right;
  font-size: 80%;
  color: red;
}

.account_picture {
  overflow:hidden;
  -webkit-border-radius:55px;
  -moz-border-radius:55px;
  border-radius:55px;
  width:130px;
  height:130px;
}

.offer_picture {
  overflow:hidden;
  -webkit-border-radius:55px;
  -moz-border-radius:55px;
  border-radius:55px;
  width:40px;
  height:40px;
}

.messages_picture {
  overflow:hidden;
  -webkit-border-radius:55px;
  -moz-border-radius:55px;
  border-radius:55px;
  width:50px;
  height:50px;
}

.meeting_picture{
  overflow:hidden;
  -webkit-border-radius:55px;
  -moz-border-radius:55px;
  border-radius:55px;
  width:40px;
  height:40px;

}

.pending_task{
  font-size: 15.50px;
  min-height: 43px;
  background-color: #5e4b78;
  color: #ffffff;
  padding: 13px 32px 11px 20px;
  margin-bottom: 10px;
  position: relative;
  max-width: 700px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}





/****************************************************************
* css input file
*****************************************************************/

/* styles de base si JS est activé */
.js .input-file-container {
  position: relative;
  width: 307px;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {

}

/* styles du retour visuel */
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

/****************************************************************
* css input file
*****************************************************************/


/*
* style select forms
*/

.select {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  max-width: 295px;
  width: 100%;
  height: 43px;
  background: #fbfbfc;
  border: 1px solid #e9eaec;
  float: right;
  padding-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}



.project_desc {
  height: 66px;
}


.notification_aside.active {
  position: fixed;
}


.notification_liste {
  height: 90%;
  overflow: auto;
}

.worker_bio {
  height: 160px;
  overflow: scroll;
}

.center_content {
  margin-left: auto;
  margin-right: auto;
}

.delete_file {
  width: 7px;
  height: 7px;
  border: none;
  background: url('../img/popin_close_icn.png') center center transparent;
  margin-top: 5px;
  margin-left: 65px;
}

.divfile  {
  float: left;
  margin-right: 6px;
  border: 1px solid #e9eaec;
  padding-right: 17px;
  padding-left: 6px;
  margin-bottom : 6px;
}

.field_text_findneed {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 43px;
  background: #fbfbfc;
  border: 1px solid #e9eaec;
  padding-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/*

.pagination li.disabled {
  display: none;
}

*/

.control_note_red {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: inline-block;
  text-align: right;
  font-size: 13px;
  color: red;
  width: 100%;
  padding-top: 5px;
}

.prjcts_price inf {
  position: relative;
  top: 5px;
}

.red_btn  {
  background : #ff506e;
}

.conflict_status {
  background: #E52644;
}

.attachments_small  {
  margin-top: 20px;
  width: 142px !important;
  height: 48px !important;
}

.div-picture-menu {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  overflow: hidden;
  width: 40px;
  margin-right: 6px;
}

.div-picture-account {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  overflow: hidden;
  width: 200px;
}

.picture {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.delete_tag {
  width: 7px;
  height: 7px;
  border: none;
  background: url('../img/popin_close_icn.png') center center transparent;
  margin-top: 5px;
  /* margin-left: 65px; */
}

.add_tag {
  width: 7px;
  height: 7px;
  border: none;
  margin-top: 5px;
  /* margin-left: 65px; */
}

.divtag {
  float: left;
  margin-right: 6px;
  border: 1px solid #e9eaec;
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 6px;
}


.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height:450px;
}

.div-picture-upload-picture {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 180px;
  overflow: hidden;
  width: 180px;
  margin-right: 6px;
}

.div-picture-uploaded-picture {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  overflow: hidden;
  width: 200px;
  margin-right: 6px;
}

/*
div[ui-view].ng-enter {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.ng-enter{
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
*/

.notAllowed {
  color: #f4f4f4 !important;
  background-color: rgba(84, 84, 89, 0.4) !important;
}


.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.closebuttonnon {
  display: none;
}

.purple_popin {
  position: relative !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #5e4b78;
  overflow-y: auto;
}



.details-project .rows p.title {
  width: 200px !important;
 }

.red_editable {
  border: 1px dashed #E40B0B !important;
}

.fixed_popin{
  position: fixed  !important;
  padding:20px  !important;
  width:100%  !important;
  height:100%  !important;
  z-index: 1000  !important;
}
.fixed_popin_body{
  width: 95%  !important;
  height: 95%  !important;
  border-radius: 10px  !important;
  padding:20px  !important;
  background: #fff  !important;
  margin: 0 auto  !important;
  text-align:center  !important;
}


/*.workers_liste > li .intro_details {

  height: 264px !important;

}*/


.half_hidden{opacity:0.1;}

.close_popin_forms {
  background: url('../img/closeTypeForm.gif') center center transparent !important;
}

.title_edit_area {
  padding: 0px 10px !important;
}

.choses_list li {
  display: block !important;
  margin-right: 15px;
}

.popin_cover_popinforms {
  opacity: 1.8 !important;
}

.step_control{
  opacity: 1 !important;
}

.offer_tips_wrapper ul li:last-child {
  width: 97px !important;
}

.popin_container_popinforms {
  padding-top: 50px !important;
}

.popin_content_forms {
  top: 0px;
  position: fixed;
  width: 99%;
  max-width: 900px;
  padding: 50px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.step_control.focused {
  opacity: 1 !important;
}

.accounting_work_area {
  padding: 0px 0px 0px 10px !important;
}

.landing_intro {
  padding-top: 10px !important;
}

.accounting_work_area ul {
  max-width: 993px !important;
}

.menu-left {
  position: fixed;
  width: 125px;
}

.purple_popin_content .step_control{
  opacity: 0.3 !important;
}

.step_control.focused {
  opacity: 1 !important;
}

.aside_menu li a {
  background-size: 32px 32px !important;
  color: #A4A4A4 !important;
  background-color: #F5F6F7 !important;
}

.aside_menu li a.active, .aside_menu li a:hover {
  color: #38B7A0 !important;
  background-color: #fff !important;
  background-size: 32px 32px !important;
}


.aside_menu li {
  border-bottom: 0px solid #d9dbde !important;
}

.menu-left ul {
  height: 1000px;
  background-color: #F5F6F7;
}

#price_field {
  background: url("../img/payments_icn_old.png") no-repeat 90% center #fbfbfc !important;
}


.chosen-container {
  width: 100% !important;
}

.advantages_liste {
  padding: 0px 0 !important;
}

.advantages_liste li:last-child {
  border-bottom: 0px solid #e5e5e5;
}

.streamling_accouning_txt .last_txt {
  background-color: #F5F6F7 !important;
}

.container_custom {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.accounting_work_area ul li {
  margin-left: 20px;
}

.grey_bg {
  background-color: #f5f6f7 !important;
}

.landing_intro p.main_intro_txt {
  max-width: 1000px !important;
}

.social_links li img{
  width: 30px !important;
}

.bx-controls-direction {
  display: none;
}

#intercom-container .intercom-launcher-button {
  background-color: #38B7A0 !important;
  border: 1px solid #39b7a1 !important;
}

.startups_advantages {
  background: none !important;
}
.pointer {
  cursor: pointer;
}

.rad_one {
    border-radius: 3px !important;
}

.attachment_area li a.attach_file{
    background-image: url('../img/file_attach_icn.png') !important;
}

.mobile_header {
    z-index: 9 !important;
}

@media only screen and (max-width: 640px) {
  .margin_edit_name_project{
    margin-top: 30px !important;
  }
}
