
.ongoing_lbl{
	font-family: 'Lato', arial;
	color: #82c1a8;
	font-size: 12px;
}
.ongoing_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/ongoin_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 7px;
	height: 7px;
	margin-right:3px;
}

.done_lbl{
	font-family: 'Lato', arial;
	color: #82c1a8;
	font-size: 12px;
}
.done_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/done_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 7px;
	height: 7px;
	margin-right:3px;
}
.finished_lbl{
	font-family: 'Lato', arial;
	color: #82c1a8;
	font-size: 12px;
}
.finished_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/finished_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 10px;
	height: 7px;
	margin-right:3px;
}
.pending_lbl{
	font-family: 'Lato', arial;
	color: #5e4b78;
	font-size: 12px;
}
.pending_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/pending_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 5px;
	height: 6px;
	margin-right:3px;
}
.pending_payement_lbl{
	font-family: 'Lato', arial;
	color: #5e4b78;
	font-size: 12px;
}
.pending_payement_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/pending_payement_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 7px;
	height: 7px;
	margin-right:3px;
}
.canceled_lbl{
	font-family: 'Lato', arial;
	color: #bfbfbf;
	font-size: 12px;
	text-decoration: line-through;
}
.canceled_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/canceled_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 7px;
	height: 7px;
	margin-right:3px;
}
.closed_lbl{
	font-family: 'Lato', arial;
	color: #bfbfbf;
	font-size: 12px;
}
.closed_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/closed_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 7px;
	height: 7px;
	margin-right:3px;
}
.declined_lbl{
	font-family: 'Lato', arial;
	color: #be6868;
	font-size: 12px;
}
.declined_lbl b{
	display: inline-block;
	*zoom:1;
	background: url('../img/status_lbls/declined_symbol.png') no-repeat 0 0 transparent;
	background-size: 100% auto;
	width: 7px;
	height: 7px;
	margin-right:3px;
}